<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Officials" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/officials">
    <ion-nav-view name="tab-officials"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Categories" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/categories">
    <ion-nav-view name="tab-categories"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Votes" icon-off="ion-android-done" icon-on="ion-android-done-all" href="#/tab/votes">
    <ion-nav-view name="tab-votes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
