<ion-view view-title="Votes">
  <ion-content>
    <div class="bar bar-header">
      <div class="button-bar">
        <a class="button activated">Hot</a>
        <a class="button">Latest</a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <ion-list id="votes">
      <ion-item ng-repeat="vote in votes.votes" type="item-text-wrap" class="vote">
        <div class="metadata clearfix">
          <div class="author">
            <img ng-src="img/officials/{{votes.author(vote).image}}">
            <span class="name">{{votes.author(vote).name}}</span>
          </div>
          <div class="category">
            {{votes.category(vote).name}}
          </div>
        </div>
        <p class="question">{{vote.question}}</p>
        <div class="my-vote">
          <button class="button button-clear button-light" ng-click="votes.upVote(vote)" ng-hide="votes.upVoted(vote)">
            <i class="icon ion-thumbsup"></i>
          </button>
          <button class="button button-clear button-balanced" ng-click="votes.upVote(vote)" ng-show="votes.upVoted(vote)">
            <i class="icon ion-thumbsup"></i>
          </button>
          <button class="button button-clear button-light" ng-click="votes.downVote(vote)" ng-hide="votes.downVoted(vote)">
            <i class="icon ion-thumbsdown"></i>
          </button>
          <button class="button button-clear button-assertive" ng-click="votes.downVote(vote)" ng-show="votes.downVoted(vote)">
            <i class="icon ion-thumbsdown"></i>
          </button>
        </div>
        <div class="pending-result" ng-hide="votes.votedFor(vote)">
          <span>Vote to see results</span>
        </div>
        <div class="result" ng-show="votes.votedFor(vote)">
          <button class="button button-clear button-balanced">
            <i class="icon ion-thumbsup"></i>
            {{vote.totalAgree}}</p>
          </button>
          <button class="button button-clear button-assertive">
            <i class="icon ion-thumbsdown"></i>
            {{vote.totalDisagree}}</p>
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
