<ion-view view-title="Officials">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="official in officialsList.officials" type="item-text-wrap" href="#/tab/officials/{{official.id}}">
        <img ng-src="img/officials/{{official.image}}">
        <h2>{{official.name}}</h2>
        <p>{{official.ministry}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
