<ion-view view-title="Category Details">
  <ion-content class="padding">
    <h2>{{categoryDetail.category.name}}</h2>
    <div class="button-bar">
      <a class="button activated">About</a>
      <a class="button">Polls</a>
    </div>
    <p class="padding-top">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A saepe cum vel neque placeat, est nam error voluptatum quae eveniet ipsam quasi nesciunt illum repudiandae nisi doloribus, ab, atque nemo!
    </p>
  </ion-content>
</ion-view>
