<ion-view view-title="Category Details">
  <ion-content>
    <div class="bar bar-header">
      <div class="button-bar">
        <a class="button activated">About</a>
        <a class="button">Votes</a>
      </div>
    </div>
    <br>
    <br>
    <div class="padding">
      <div class="list">
        <div class="item item-button-right" ng-click="categoryDetail.toggleFollowCategory(categoryDetail.category)">
          <b>{{categoryDetail.category.name}}</b>
          <button class="button button-clear button-energized" ng-show="categoryDetail.followedCategory(categoryDetail.category)">
            <i class="icon ion-ios-star"></i>
          </button>
          <button class="button button-clear button-stable" ng-hide="categoryDetail.followedCategory(categoryDetail.category)">
            <i class="icon ion-ios-star-outline"></i>
          </button>
        </div>
        <div class="item item-text-wrap">
          <p><b>Overview</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolores, ratione officia sapiente numquam fuga, excepturi aliquid inventore dignissimos tempora natus quam similique saepe aperiam, molestias placeat expedita voluptatum ad!</p>
          <br>
          <p><b>Legislation</b></p>
          <p>Fugiat adipisci rerum itaque consectetur dolore similique repellat culpa dolor dolorum a, cupiditate deserunt optio quam accusamus laudantium tempora ut officiis! In temporibus error nemo laboriosam maxime praesentium distinctio commodi?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi asperiores, accusamus tempora maiores, qui similique natus magnam possimus neque placeat architecto dolor corporis ipsum! Nostrum libero saepe, corporis ipsum hic.</p>
          <br>
          <p><b>Timeline</b></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate explicabo, illo asperiores commodi aut rem praesentium nulla quos voluptate suscipit, deleniti earum? Commodi voluptates asperiores, placeat temporibus, est ipsa.</p>
          <p>Necessitatibus quis ad voluptate. Vero expedita consectetur deserunt adipisci voluptatum cupiditate, aut amet delectus explicabo, nostrum officia praesentium, odio atque beatae perferendis ex recusandae quod! Delectus quod perferendis iusto minima.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
